--swiftversion 5.6
--exclude Pods,**/*.generated.swift

#--rules acronyms
--rules andOperator
--rules anyObjectProtocol
--rules assertionFailures
--rules blankLinesAroundMark
--rules blankLinesAtEndOfScope
--rules blankLinesAtStartOfScope
--rules blankLinesBetweenImports
--rules blankLinesBetweenScopes
--rules blockComments
--rules braces
--rules consecutiveBlankLines
--rules consecutiveSpaces
--rules duplicateImports
--rules elseOnSameLine
--rules emptyBraces
--rules enumNamespaces
#--rules extensionAccessControl
--rules fileHeader
--rules hoistPatternLet
--rules indent
--rules initCoderUnavailable
--rules isEmpty
--rules leadingDelimiters
--rules linebreakAtEndOfFile
--rules linebreaks
#--rules markTypes
--rules modifierOrder
--rules numberFormatting
--rules organizeDeclarations
--rules preferKeyPath
--rules redundantBackticks
--rules redundantBreak
--rules redundantClosure
--rules redundantExtensionACL
--rules redundantFileprivate
--rules redundantGet
--rules redundantInit
--rules redundantLet
--rules redundantLetError
--rules redundantNilInit
--rules redundantObjc
--rules redundantParens
--rules redundantPattern
--rules redundantRawValues
#--rules redundantReturn
--rules redundantSelf
--rules redundantType
--rules redundantVoidReturnType
--rules semicolons
--rules sortDeclarations
--rules sortedImports
#--rules sortedSwitchCases
--rules spaceAroundBraces
--rules spaceAroundBrackets
--rules spaceAroundComments
--rules spaceAroundGenerics
--rules spaceAroundOperators
--rules spaceAroundParens
--rules spaceInsideBraces
--rules spaceInsideBrackets
--rules spaceInsideComments
--rules spaceInsideGenerics
--rules spaceInsideParens
--rules strongOutlets
--rules strongifiedSelf
--rules todos
--rules trailingClosures
--rules trailingSpace
--rules typeSugar
--rules unusedArguments
--rules void
--rules wrap
--rules wrapArguments
--rules wrapAttributes
--rules wrapEnumCases
--rules yodaConditions

--closingparen same-line
--decimalgrouping 3,5
--fractiongrouping enabled
--funcattributes same-line
--lineaftermarks false
--header "\nCopyright (C) 2019-2024 Six Clovers, Inc. - All rights reserved.\n\nRestricted and proprietary.\n"
--maxwidth 180
--self init-only
--typeattributes prev-line
--wraparguments after-first
--wrapcollections before-first
--wrapparameters after-first