<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>c64e70a0d8e74c2fa0ed256546873f12</string>
		<key>enabledReleaseStages</key>
		<array>
			<string>ReleaseDevelopment</string>
			<string>ReleaseProduction</string>
			<string>ReleaseSandbox</string>
		</array>
		<key>redactedKeys</key>
		<array>
			<string>authorization</string>
			<string>Authorization</string>
			<string>confirmPassword</string>
			<string>currentPassword</string>
			<string>newPassword</string>
			<string>password</string>
			<string>securityAnswer</string>
		</array>
		<key>releaseStage</key>
		<string>$(CONFIGURATION)</string>
	</dict>
</dict>
</plist>
